<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}


<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <h2> Have something to add?</h2>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p style="color:black;">User 1: I recently read a super good book named _______ and wanted to share. It is about _____________. It was a sad story with a strong meaning behind it, and a really good read!
                {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/discuss" id="greet" method="POST" >
                <label for="name">Recommend a Book!</label>
                <input name="name" id="name">
                <input type="submit" value="Reply!">
            </form>
        </div>
        <div class="col-12">
            <img src="background.jpg" style="height: 400px" alt="">
        </div>
    </div>

    <h2 style="color:white;">Discuss a Read</h2>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p style="color:black;">User 1: I just finished reading _______ after having you recommend it. I really enjoyed it, especially when ___________ did ________. </p>
                <p {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/discuss2" id="greet" method="POST" >
                <label for="name">Discuss a Read!</label>
                <input name="name" id="name">
                <input type="submit" value="Reply!">
            </form>
        </div>
        <div class="col-12">
            <img src="background.jpg" style="height: 400px" alt="">
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
    <style>
        body {
            background-image: repeating-linear-gradient(to bottom right, black, whitesmoke, blanchedalmond, rgb(255, 122, 89));
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
{% endblock %}